{% extends "base.html" %}

{% block title %}Gestión de Jornada{% endblock %}

{% block content %}
    <h2>Gestión de Jornada</h2>
    <form method="POST" action="{{ url_for('gestion_jornada') }}">
        <div>
            <label for="cantidad_lavadores">Cantidad de Lavadores:</label>
            <input type="number" name="cantidad_lavadores" required>
        </div>
        <div id="nombres-lavadores">
            <label for="nombres_lavadores">Nombres de los Lavadores:</label>
            <input type="text" name="nombres_lavadores" required>
            <!-- Se pueden generar más campos de nombre si es necesario -->
        </div>
        <button type="submit">Iniciar Jornada</button>
    </form>
{% endblock %}
