{% extends "base.html" %}

{% block title %}Registrar Vehículo{% endblock %}

{% block content %}
    <h2>Registrar Vehículo</h2>
    <form method="POST" action="{{ url_for('registrar_vehiculo') }}">
        <div>
            <label for="tipo_carro">Tipo de carro:</label>
            <input type="text" name="tipo_carro" required>
        </div>
        <div>
            <label for="color_carro">Color del carro:</label>
            <input type="text" name="color_carro" required>
        </div>
        <div>
            <label for="propietario">Propietario del carro:</label>
            <input type="text" name="propietario" required>
        </div>
        <div>
            <label for="telefono">Número de teléfono:</label>
            <input type="text" name="telefono" required>
        </div>
        <div>
            <label for="placa">Placa (6 dígitos):</label>
            <input type="text" name="placa" maxlength="6" required>
        </div>
        <div>
            <label for="lavador">Lavador:</label>
            <input type="text" name="lavador" required>
        </div>
        <div>
            <label for="precio">Precio:</label>
            <input type="text" name="precio" required>
        </div>
        <div>
            <label for="tipo_lavado">Tipo de lavado:</label>
            <input type="text" name="tipo_lavado" required>
        </div>
        <button type="submit">Registrar Vehículo</button>
    </form>
{% endblock %}
